                <div class="col-xs-12 col-sm-6">
                    <div class="title">
                        <h3>{{ header }}</h3>
                    </div>
                    <div class="menu">
                    {% for food in foods %}
                        <div class="menu-item">
                            <div class="top">
                                <span class="name">{{ food.name }}</span>
                                <span class="price">{{ food.price }} kr</span>
                            </div>
                            <div class="description">{{ food.get_ingredients }}</div>
                        </div>
                    {% endfor %}
                    <hr class="vertical-space vertical-space2">
                    </div>
                </div>
